.chips-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.chip {
  background-color: #3498db;
  color: #fff;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 20px;
  display: flex;
  align-items: center;
}

.remove-icon {
  cursor: pointer;
  margin-left: 5px;
}

.chip.highlighted {
  background-color: #ffcc00;
}

input {
  padding: 5px;
  font-size: 16px;
  margin-bottom: 10px;
  border: none;
  outline: none;
}

.chip-input-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align suggestions to the left */
}

.suggestion-list {
  width: 100%; /* Take full width of the container */
}

.item-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column; /* Display items vertically */
}

.item {
  background-color: #e0e0e0;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  border-radius: 20px;
}

.item:hover {
  background-color: #d0d0d0;
}
